/* make Open Sans the default font */
body * {
  font-family: 'Open Sans', sans-serif;
}

/* a nice frame for images */
div.img-box {
  border-width: 5px;
  border-style: solid;
}

div.img-box img {
  max-width: 100%;
}

div.img-box p {
  margin: 5px;
  text-align: center;
}

/* if they click on a boxed image, enlarge it */
#lightbox {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
}

#lightbox p {
  background-color: #000;
  color: #fff;
}

/* phones */
@media (max-width: 767px) {
  body.page-sobre-nos .img-box {
    width: 300px;
    margin: 0px auto 10px auto;
  }

  h1, h2 { text-align: center; }
}

/* tablets and up */
@media (min-width: 768px) {
  body.page-sobre-nos .img-box {
    width: 400px;
    margin-left: 20px;
    float: right;
  }
}