---
title: Home
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">
    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% else %}
      <meta name="description" content="{{ site.meta_description }}">
    {% endif %}

    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'fonts.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page-{{ page.slug }}">
    <div class="container">
      <!-- Site Title -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <h1>{{ site.name }}</h1>
        </div>
      </div>

      <!-- Site Navigation -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Alternar navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
              <ul class="nav navbar-nav">
                <li {% if page.slug == "index" %}class="active"{% endif %}>
                  <a href="/">Home</a>
                </li>
                {% nav "site", no_wrapper: true, active_class: "active" %}
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <!-- Page Content -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <h2>{{ page.title }}</h2>
          {% block main %}
            Coming Soon.
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- Javascripts -->
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
  </body>
</html>
