---
title: Sobre nós

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 1

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
  {% block foto_destaque %}
    {% capture legenda %}
      {% editable_text legenda, format: "raw", rows: 3, hint: "Texto mostrado abaixo da foto e no atributo ALT." %}
        Gyeongbokgung, Seul
      {% endeditable_text %}
    {% endcapture %}
    {% capture foto %}{% editable_file foto %}/samples/gyeongbokgung-full.jpg{% endeditable_file %}{% endcapture %}
    <div class="img-box">
      <a href="{{ foto | resize: '800x' }}">
        <img src="{{ foto | resize: '400x' }}" alt="{{ legenda | strip_html }}" />
      </a>
      <p>{{ legenda }}</p>
    </div>
  {% endblock %}

  {% editable_text "foobar" %}{% endeditable_text %}

  {% editable_text "sobre_nos_corpo", rows: 20 %}
    <p>
      Agradeço por sua visita no Caminho dos Peregrinos! Este blog destina-se a compartilhar coisas legais para ver,
      comer, e fazer ao redor do mundo. Durante minha jornada, irei compartilhar dicas de viagem valiosas que podem
      tornar as peregrinações neste globo mais divertidas. O blog foca em paisagens e lugares um pouco diferentes das
      rotas tradicionais, os não aventureiros foram avisados.
    </p>

    <p>
      Espero que você goste do site e boa viagem!
    </p>
  {% endeditable_text %}
{% endblock %}
